@media (max-width:1900px) {
    header a{
        font-size: 16px;
    }

    .firstText{
        padding-right: 30px;
    }

    .firstPhoto img{
        transform: translateY(-100px);
    }

    .firstText h1{
        font-size: 6em;
    }

    .firstText h2{
        font-size: 1.5em;
    }

    .firstText > p{
        font-size: 1em;
        font-weight: 100;
        letter-spacing: normal;
    }

    #about{
        flex-direction: row-reverse;
        height: auto;
        padding: 0;
    }

    #about img{
        height: 400px;
        width: 400px;
        transform: translate(-110px, 100px);

    }
    
    .about-section h3, #test h3, .plans-title h3{
        font-size: 2em;
        font-weight:400;
    }

    .about-section p{
        font-size: 17px;
        font-weight: 200;
        margin-right: 30px;
        margin-top: 15px;
    }

    .para{
        display: flex;
    }

    .about-btn{
        transform: translateX(190px);
    }

    #test{
        height: auto;
    }

    .testimonial{
        height: 400px;
        width: 500px;
        background: white;
        margin: 2%;
    }

    .vet{
        height: 100px;
        width: 100px;
        transform: translate(40px, -50px);
    }

    .mark{
        width: 40px;
        transform: translate(300px, 60px);
    }

    .stars{
        transform: translate(20px, -30px);
    }

    .stars > img{
        width: 30px;
    }

    .testimonial p{
        padding-top: 20px;
        font-size: 15px;
    }

    #plan{
        height: auto;
    }

    .card{
        margin: 3%;
        width: 800px;
        height: 600px;
        justify-content: start;
    }

    .cardHeader{
        padding: 5px;
        transform: translateY(0);
    }

    .cardHeader h3{
        font-size: 2em;
    }
    
    .cardBody h1{
        font-size: 2.5em;
        margin-top: 10px;
        text-align: center;
        padding: 0 5px;
    }
    
    .cardBody ul{
        margin: 15px auto;
    }
    
    .cardBody li{
        margin-top: 5px;
        font-size: 15px;
    }
    
    .cardbtn{
        margin: 0;
        height: 10%;
        width: 80%;
        font-size: 20px;
        transform: translate(20px, 90px);
    }

    .carda, .cardb{
        transform: translate(20px, -5px);
    }
    .card:hover{
        width: 900px;
        height: 610px;
    }
    
    footer{
        margin-top: 20px;
        height: 600px;
    }
    
    .footLogo{
        font-size: 5px;
    }
    
    .footLogo > img{
        width: 50px;
        margin: 20px 5px 12px 12px;
        height: 50px;
    }
    
    .footer-vet p{
        font-size: 16px;
    }

    footer h2{
        font-size: 1.9em;
    }
    
    .other > ul{
        padding-left: 20px;
        padding-top: 5px;
    }
    
    footer li{
        font-size: 20px;
    }
    
    .services > ul{
        padding-left: 20px;
    }
    
    .contacts{
        padding: 40px 13px 13px 0px;
        text-align: left;
    }
    
    .contacts li img{
        height: 40px;
    }
    
    .contacts li p{
        margin-top: 20px;
        font-size: 15px;
    }
    
    .copy{
        font-size: 15px;
        padding-top: 5px;
    }
    
    .social{
        margin-right: 15px;
    }
    .social img{
        height: 35px;
        margin-left: 10px;
    }
    
    
    .top img{
        height: 50px;
        position: fixed;
        top: 85%;
        left: 94%;
    }
}