@media (max-width:800px){
    body{
        overflow-x: hidden;
    }

    .logo{
        max-height: 50px;
    }

   .contact{
        font-size: 10px;
    }

    .firstText p, .n, .top img, nav{
        display: none;
    }

    #home{ 
        display: block;
        padding: 30px, auto;
        height: 500px;

    }
    .firstPhoto{
        height: 300px;
        transform: translate(70px, 70px);
    }

    .firstText h1{
        font-size: 3em;
    }
    
    .firstText h2{
        font-size: 1.4em;
        text-align: center;
    }

    .firstText{
        width: 100%;

    }

    #option h2{
        font-size: 2.5em;
    }

    #option img{
        height: 300px;
    }

    #about{
        display: block;
        padding: 0;
        margin: 0;
        height:910px;
    }

    #about img{
        height: 300px;
        width: 300px;
        transform: translate(-5px, 100px);

    }

    .about-section{
        transform: translateY(90px);
        width: 100%;
    }

    .about-section h2, #test h2{ 
        font-size: 2em;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }

    .about-section p{
        width: 100%;
        padding: 0;
        margin: 10px 0;
    }
    
    .about-btn{
        transform: translateX(130px);
    }

    .testimonial{
        height: 300px;
        width: 250px;
        
    }


    .testimonial p{
        padding-top: 2px;
        font-size: 10px;
    }

    .client{
        font-size: 15px;
    }

    .footLogo{
        font-size: 1.5px;
    }

    .footLogo > img{
        width: 20px;
        height: 20px;
    }

    .footer-vet p{
        font-size: 10px;
    }

    footer h2{
        font-size: .5em;
        margin-left: 5%;
    }

    footer li{
        font-size: 9px;
    }
    
    .clock > img{
        height: 20px;
    }

    .hour > p{
        font: 8px;
    }

    .copy{
        font-size: 8px;
        padding-left: 10px;
    }

    .social img{
        height: 20px;
        margin-left: 5px;
    }

}